.profileInputs, .changePassPage, .newPassPage, .cvPage, .evPage, .companyRegisterPage, .registerPage, .loginPage  {
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 40% !important;
}

.usersPages, .reportPage, .companiesPage, .sysAuthPage {
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 60% !important;
}

.companyAuthPage {
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 50% !important;
}